<header class="site-navbar">
  <div class="nav-left">
    <a class="brand" href="/">Hydra Playground</a>
    <nav>
      <a href="/flows">Flows</a>
      <a href="/clients/manage">Clients</a>
      <a href="/users/manage">Users</a>
      <a href="/dashboard">Dashboard</a>
    </nav>
  </div>
  <div class="nav-right" id="nav_session">
    <span id="session_info">Not signed in</span>
    <button id="logout_btn" style="display:none" class="btn small">Logout</button>
  </div>
</header>
